@page "/userlist"

@inherits UserListProcess

<div class="btn-group">
    <div class="container">
        <AddNewButtonComponent Caption="Create User" @onclick="goCreateUserPage" />
    </div>
</div>

@if (UserList != null)
{
    <table class="table table-hover table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">İsim Soyisim</th>
                <th scope="col">Email Adres</th>
                <th scope="col">Oluşturulma Tarihi</th>
                <th scope="col">Durum</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in UserList)
            {
                String spanClass = "badge badge-pill badge-" + (user.IsActive ? "success" : "danger");

                <tr>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>@user.EmailAdress</td>
                    <td>@user.CreateDate</td>
                    @*<td>@user.IsActive</td>*@
                    <td> <span class="@spanClass"> @(user.IsActive ? "Active" : "Passive")</span></td>
                    <td>
                        <CustomEditButtonComponent IsSmall="true" Caption="" IsOutLine="true" @onclick="@(()=>goUpdateUserPage(user.Id))" />
                        <DeleteButtonComponent IsSmall="true" Caption="" IsOutLine="true" @onclick="@(()=>DeleteUser(user.Id))" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

}
